{% extends "base.html" %}
{% load static %}

{% block title%}
    This List Title
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
<div style="margin: 0 auto;">
    <h1>Upload your own list for {{language|capfirst}}!</h1>
    <form method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 8px;">
        {% csrf_token %}
        <label for="title">Title</label>
        <input 
            id="title" 
            type="text" 
            name="title" 
            required
        >
        <input type='file' name='file' required/>

        <input type="submit" value="Add a new list">
    </form>
</div>

{% endblock %}